#spinner{
    visibility: hidden;
    width: 80px;
    height: 80px;
  
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
  
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
  
    animation: spin 1s infinite linear;
    
    &.show {
        visibility: visible;
    }
  }

  @keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
  }

  .container {
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-top: 25px;
      padding: 25px;
      margin-bottom: 50px;
      @media (max-width: 575px) {
          border: none;
          margin-top: 0;
          margin-bottom: 0;
      }
      &.results-container {
        .results-intro {
            margin-bottom: 30px;
        }
        h4 {
            span {
                &.green {
                    color: green;
                }
                &.red {
                    color: red;
                }
            }
        }

        ul {
            margin-bottom: 30px;
            background: #eee;
            padding: 15px;
            margin-bottom: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            li:nth-child(even) {
                margin-bottom: 15px;
                color: green;
            }
        }
      }
      .questionsContainer {
          position: relative;
          min-height: 200px;
      }
      a {
          color: #47bded;
      }
      button {
          appearance: none;
          background: #008cc8;
          color: white;
          padding: 10px;
          border-color: #008cc8;
          border-radius: 2px;
          margin-bottom: 10px;
          &:hover {
            background: #47bded;
            border-color: #47bded;
          }
          &#btn-submit {
            background: green;
            border-color: green;
            color: white;
            visibility: hidden;
            float: right;
            margin-bottom: 20px;
            margin-right: 20px;
            &:disabled {
                opacity: 0.5;
            }
            &.show {
              visibility: visible;
          }
        }
        &.resetBtn {
            background: green;
            border-color: green;
            color: white;
            &:disabled {
                opacity: 0.5;
            }
            &.show {
              visibility: visible;
          }
        }
      }
      .intro {
        margin-bottom: 30px;
        h1 {
            margin-bottom: 15px;
        }
      }
      ul {
          list-style: none;
      }
      .questionWrapper {
          background: #eee;
          padding: 15px;
          margin-bottom: 30px;
          border: 1px solid #ccc;
          border-radius: 5px;
          ul {
            list-style: none;
            padding: 0;
            li {
                display: inline;
                margin-right: 25px;
            }
        }
      }
  }