#spinner{
    visibility: hidden;
    width: 80px;
    height: 80px;
  
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
  
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
  
    animation: spin 1s infinite linear;
    
    &.show {
        visibility: visible;
    }
  }

  @keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
  }

  #btn-submit {
      visibility: hidden;
      &.show {
        visibility: visible;
    }
  }

  #quizContainer {
      padding: 50px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 50px;
      button {
          appearance: none;
          background: #fff;
          color: #212529;
      }
      .intro {
        margin-bottom: 30px;
        h1 {
            margin-bottom: 15px;
        }
      }
      .questionWrapper {
          background: #eee;
          padding: 15px;
          margin-bottom: 30px;
          border: 1px solid #ccc;
          border-radius: 5px;
          ul {
            list-style: none;
            padding: 0;
            li {
                display: inline;
                margin-right: 25px;
            }
        }
      }
  }